body {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
.content-list{
  padding: 0;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.content-list li{
  display: inline;
  background-color: teal;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  margin-bottom: .5rem;
  margin-right: 1rem;
}
.content-list.fundamentos li{
  background-color: cornflowerblue;
}
.content-list.dom li{
  background-color: chocolate;
}
.content-list li:last-child{
  margin-right: 0;
}
.content-list li a{
  color: #fff;
  text-decoration: none;
  text-align: center;
  width: 150px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3{
  text-align: center;
  color: snow;
  padding: 1rem 0;
}
h3.heading{
  background-color: teal;
}
h3.fundamentos{
  background-color: cornflowerblue;
}

h3.dom{
  background-color: chocolate;

}



/*botones*/
.btn{
  background-color: indianred;
  color: white;
  border-radius: 0;
  margin-left: 15px;
  margin-bottom: 1rem;
}
.ir{
  background-color: darkcyan;
  color: white;
  border-radius: 0;
  display: inline-block;
  padding: 6px 12px;
  margin-left: 0;
  margin-bottom: 1rem;
}