body {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
.content-list{
  padding: 0;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.content-list li{
  display: inline;
  background-color: teal;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  margin-bottom: .5rem;
  margin-right: 1rem;
}
.content-list li:last-child{
  margin-right: 0;
}
.content-list li a{
  color: #fff;
  text-decoration: none;
  text-align: center;
  width: 150px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
h2{
  text-align: center;
  background-color: teal;
  color: snow;
}
a{
  color: teal;
}