body{
    font-family: 'Raleway', sans-serif;
}
h1, h2 {
    text-align: center;
}
br{
    display: none;
}
#contenido {
    margin-top: 40px;
}
#formulario input[type="submit"],
#formulario textarea{
    border-radius: 0;
}

.borrar-tweet,
.borrar-tweet:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}